.profilePage {
    height: 100vh;
    width: 100vw;
    scrollbar-width: none;
}

.pageContainer {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.pageContainer::-webkit-scrollbar {
    display: none;
}